.App {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
}

.switch{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}


